{% extends "base.html" %}
{% block title %} New Player {% endblock %}
{% block content %}
{% if session.username %}
<section class="details">
    <div class="last-played">
        <br>
        <h2>Create Player</h2>
        <p>Fill the form and submit to create a new Player.</p>
        <form action="" name="myForm" method="POST" enctype="multipart/form-data">
            <div class="forms">
                <label for="id_player"></label>
                <label>Player Name</label>
                <input type="text" name="name" value="">
                <label>Player Family Name</label>
                <input type="text" name="family_name" value="">
                <label>Picture</label>
                <input type="file" name="picture">
                <label>Player Number</label>
                <input type="number" name="number" value="">
                <label>Position</label>
                <input type="number" min="1" max="5" name="position" value="">
                <label>Position Name</label>
                <input type="text" name="position_name" value="">
                <label>Height</label>
                <input type="number" name="height" value="">
                <label>Birthday</label>
                <input type="date" name="birthday" value="">
                <label>Nationality</label>
                <input type="text" name="nationality" value="">
                <input type="hidden" name="id_team" value="{{ id_team }}">
            </div>
            <br>
            <div>
                <input type="submit" name="newplayer" id="newplayer" class="btn btn-primary" value="Submit">
                <a href="{{ url_for('team.view_team', id_team=id_team) }}" class="btn btn-secondary ml-2">Cancel</a>
            </div>
        </form>
    </div>
</section>
{% else %}
<section class="details">
    <div class="last-played">
        <br>
        <h2>You must be Logged in, to be able to Create a new Player</h2>
    </div>
</section>
{% endif %}
<br>
{% endblock %}


