{% extends "base.html" %}
{% block title %} {% if player.id_player %} Update Player {% else %} New Player {% endif %}{% endblock %}
{% block content %}
    {% if session.username %}
        <section class="details">
            <div class="last-played">
                <br>
                {% if player.id_player %}
                    <h2>Update Player</h2>
                {% else %}
                    <h2>Create Player</h2>
                {% endif %}
                <p>Fill the form and submit to create a new Player.</p>
                {{ render_form(form, extra_classes="forms") }}
                <br>
                <a href="{{ url_for('team.view_team', id_team=id_team) }}" class="btn btn-secondary col-lg">Cancel</a>
            </div>
        </section>
    {% else %}
        <section class="details">
            <div class="last-played">
                <br>
                <h2>You must be Logged in, to be able to Create a new Player</h2>
            </div>
        </section>
    {% endif %}
    <br>
{% endblock %}
