{% from "macros/forms.html" import render_text_field %}
{% from 'bootstrap5/form.html' import render_form %}

{% extends "base.html" %}
{% block title %} Update Player {{ player.name }} {% endblock %}
{% block content %}
    {% if session.username %}
        <section class="details">
            <div class="last-played">
                <br>
                <h2>Update Player</h2>
                <p>Fill the form and submit to update Player details.</p>
                {{ render_form(form) }}
                <br>
                <a href="{{ url_for('team.view_team', id_team=team.id_team) }}"
                   class="btn btn-secondary ml-0">Cancel</a>
            </div>
        </section>
    {% else %}
        <section class="details">
            <div class="last-played">
                <br>
                <h2>You must be Logged in, to be able to update a Player</h2>
            </div>
        </section>
    {% endif %}
    <br>
{% endblock %}