{% extends "base.html" %}
{% block title %} Update Match {{ match.id_match }} {% endblock %}
{% block content %}
    {% if session.username %}
        <section class="details">
            <div class="last-played">
                <h2>Update Match</h2>
                <p>Edit the form and submit to update the match details.</p>
                {{ render_form(form, extra_classes="forms") }}
                <br>
                <a href="{{ url_for('match.view_matches') }}" class="btn btn-secondary col-lg">Cancel</a>
            </div>
        </section>
    {% else %}
        <section class="details">
            <div class="last-played">
                <h2>You must be Logged in, to be able to Update a Match. </h2>
            </div>
        </section>
    {% endif %}
    <br>
{% endblock %}
