{% extends "base.html" %}
{% block title %} New Match {% endblock %}
{% block content %}
{% if session.username %}
    <section class="details">
        <div class="last-played">
            <br>
            <h2>Create New Match</h2>
            <p>Fill the form and submit to create a new match.</p>
            <form action="" name="myForm" method="POST">
                <div class="forms">
                    <label for="id"></label>
                    <label for="date">Date</label>
                    <input type="date" id="date" name="date">
                    {{ form.id_home_team.label }}
                    <select name="id_home_team">
                      {% for team in teams %}
                            <option value="{{ team.id_team }}">{{ team.team_name }}</option>
                       {% endfor %}
                    </select>
                    {{ form.id_away_team.label }}
                    <select name="id_away_team">
                      {% for team in teams %}
                            <option value="{{ team.id_team }}">{{ team.team_name }}</option>
                      {% endfor %}
                    </select>
                </div>
                <br>
                <div>
                    <input type="submit" name="newteam" class="btn btn-primary" value="Submit">
                    <a href="/" class="btn btn-secondary ml-2">Cancel</a>
                </div>
            </form>
        </div>
    </section>
{% else %}
    <section class="details">
        <div class="last-played">
            <br>
            <h2>You must be Logged in, to be able to Create a new Match</h2>
        </div>
    </section>
{% endif %}
<br>
{% endblock %}