{% extends "base.html" %}
{% block title %} Match {% endblock %}
{% block content %}
<section class="players-section">
    <h3>{{ match.id_home_team, match.id_away_team }}</h3>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Player</th>
            <th>Min</th>
            <th>PTS</th>
            <th>LF</th>
            <th>LF A</th>
            <th>%LF</th>
            <th>2PT</th>
            <th>2PT A</th>
            <th>2PT %</th>
            <th>3PT</th>
            <th>3PT A</th>
            <th>3PT %</th>
            <th>O Reb</th>
            <th>D Reb</th>
            <th>Rebs</th>
            <th>TO</th>
            <th>Fouls</th>
            <th>+</th>
        </tr>
        </thead>
        <tbody>
        {% for playersPlaying in players_playing %}
        <tr data-player-id="<?= $player->id_player ?>">
            <td> {{ playersPlaying.name }}</td>
            <td>
                <span id="minutes">00</span>:<span id="seconds">00</span>
                <button class="btn btn-success" id="button-start">Sub In</button>
                <button class="btn btn-danger" id="button-stop">Sub Out</button>
            </td>
            <td><?= $statsController->getPlayerPoints($player->id_player) ?></td>

            <td>
                <button class="btn btn-success" name="LF" value="1" onclick="registerStats(this)">+1</button>
                <button class="btn btn-danger" name="LF_Miss" value="1" onclick="registerStats(this)">-1</button>
            </td>
            <td><?= $statsController->getPlayerLFMade($player->id_player) ?>/<?= $stat->getTotalLFAttempt($statsModel,
                $player->id_player) ?>
            </td>
            <td><?= $stat->getPlayerLFPercentage($statsModel, $player->id_player) ?>%</td>

            <td>
                <button class="btn btn-success" name="2PT" value="2" onclick="registerStats(this)">+2PT</button>
                <button class="btn btn-danger" name="2PT_Miss" value="1" onclick="registerStats(this)">-2PT</button>
            </td>
            <td><?= $stat->getPlayer2PTMade($statsModel, $player->id_player) ?>/<?= $stat->
                getTotal2PTAttempt($statsModel, $player->id_player) ?>
            </td>
            <td><?= $stat->getPlayer2PTPercentage($statsModel, $player->id_player) ?>%</td>

            <td>
                <button class="btn btn-success" name="3PT" value="3" onclick="registerStats(this)">+3PT</button>
                <button class="btn btn-danger" name="3PT_Miss" value="1" onclick="registerStats(this)">-3PT</button>
            </td>
            <td><?= $stat->getPlayer3PTMade($statsModel, $player->id_player) ?>/<?= $stat->
                getTotal3PTAttempt($statsModel, $player->id_player) ?>
            </td>
            <td><?= $stat->getPlayer3PTPercentage($statsModel, $player->id_player) ?>%</td>

            <td>
                <button class="btn btn-success" name="OReb" value="1" onclick="registerStats(this)">+OReb</button>
            </td>
            <td>
                <button class="btn btn-success" name="DReb" value="1" onclick="registerStats(this)">+DReb</button>
            </td>
            <td><?= $stat->getTotalRebounds($statsModel, $player->id_player) ?></td>

            <td>
                <button class="btn btn-warning" name="TO" value="1" onclick="registerStats(this)">+TO</button>
            </td>
            <td>
                <button class="btn btn-danger" name="Fouls" value="1" onclick="registerStats(this)">+Foul</button>
            </td>
            <td>+/-</td>
        </tr>
        {% endfor %}
        <tr>
            <td>Total</td>
            <td>Time</td>
            <td><?= $total->getTotalPoints($id_match, $homeTeamId) ?></td>
            <td><?= $total->getTotalLFPoints($id_match, $homeTeamId) ?></td>
            <td><?= $total->getTotalLFPoints($id_match, $homeTeamId) . "/" . $total->getTotalLFAttempts($id_match,
                $homeTeamId) ?>
            </td>
            <td><?= $total->getTotalLFPercentage($id_match, $homeTeamId) . "%" ?></td>
            <td><?= $total->getTotal2PT($id_match, $homeTeamId) ?></td>
            <td><?= $total->getTotal2PTMade($id_match, $homeTeamId) . "/" . $total->getTotal2PTAttempts($id_match,
                $homeTeamId) ?>
            </td>
            <td><?= $total->getTotal2PTPercentage($id_match, $homeTeamId) . "%" ?></td>
            <td><?= $total->getTotal3PT($id_match, $homeTeamId) ?></td>
            <td><?= $total->getTotal3PTMade($id_match, $homeTeamId) . "/" . $total->getTotal3PTAttempts($id_match,
                $homeTeamId) ?>
            </td>
            <td><?= $total->getTotal3PTPercentage($id_match, $homeTeamId) . "%" ?></td>
            <td><?= $total->getTotalOffReb($id_match, $homeTeamId) ?></td>
            <td><?= $total->getTotalDefReb($id_match, $homeTeamId) ?></td>
            <td><?= $total->getTotalReb($id_match, $homeTeamId) ?></td>
            <td><?= $total->getTotalTurnOver($id_match, $homeTeamId) ?></td>
            <td><?= $total->getTotalFouls($id_match, $homeTeamId) ?></td>
            <td><?= "+/-" ?></td>
        </tr>
        </tbody>
    </table>
    <form action="" name="myForm" method="POST">
        <select name="idPlayer">
            {% for homePlayer in home_players %}
            <option name=""
                    value="{{ homePlayer.id_player }}">{{ homePlayer.name }}
            </option>
            {% endfor %}
        </select>
        <button name="addPlayerMatch" type="submit" class="btn btn-success"><i class="fa fa-plus"></i> Add
            Player
        </button>
        <?php } ?>
    </form>
    <?php } ?>
    <br>
    <h3>away team</h3>
<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Player</th>
        <th>Min</th>
        <th>PTS</th>
        <th>LF</th>
        <th>LF A</th>
        <th>%LF</th>
        <th>2PT</th>
        <th>2PT A</th>
        <th>2PT %</th>
        <th>3PT</th>
        <th>3PT A</th>
        <th>3PT %</th>
        <th>O Reb</th>
        <th>D Reb</th>
        <th>Rebs</th>
        <th>TO</th>
        <th>Fouls</th>
        <th>+</th>
    </tr>
    </thead>
    <tbody>
    <?php foreach ($playersPlayingAway as $player) { ?>
        <tr data-player-id="<?= $player->id_player ?>">
            <td><?= $player->name ?></td>
            <td>
                <span id="minutes">00</span>:<span id="seconds">00</span>
                <?php if ($match->awayScore === null) { ?>
                    <button class="btn btn-success" name="sub" value="1" onclick="registerStats(this)">Sub In</button>
                    <button class="btn btn-danger" name="sub" value="0" onclick="registerStats(this)">Sub Out</button>
                <?php } ?>
            </td>
            <td><?= $statsController->getPlayerPoints($player->id_player) ?></td>

            <!-- LF -->
            <td>
                <button class="btn btn-success" name="LF" value="1" onclick="registerStats(this)">+1</button>
                <button class="btn btn-danger" name="LF_Miss" value="1" onclick="registerStats(this)">-1</button>
            </td>
            <td><?= $statsController->getPlayerLFMade($player->id_player) ?>/<?= $stat->getTotalLFAttempt($statsModel, $player->id_player) ?></td>
            <td><?= $stat->getPlayerLFPercentage($statsModel, $player->id_player) ?>%</td>

            <!-- 2PT -->
            <td>
                <button class="btn btn-success" name="2PT" value="2" onclick="registerStats(this)">+2PT</button>
                <button class="btn btn-danger" name="2PT_Miss" value="1" onclick="registerStats(this)">-2PT</button>
            </td>
            <td><?= $stat->getPlayer2PTMade($statsModel, $player->id_player) ?>/<?= $stat->getTotal2PTAttempt($statsModel, $player->id_player) ?></td>
            <td><?= $stat->getPlayer2PTPercentage($statsModel, $player->id_player) ?>%</td>

            <!-- 3PT -->
            <td>
                <button class="btn btn-success" name="3PT" value="3" onclick="registerStats(this)">+3PT</button>
                <button class="btn btn-danger" name="3PT_Miss" value="1" onclick="registerStats(this)">-3PT</button>
            </td>
            <td><?= $stat->getPlayer3PTMade($statsModel, $player->id_player) ?>/<?= $stat->getTotal3PTAttempt($statsModel, $player->id_player) ?></td>
            <td><?= $stat->getPlayer3PTPercentage($statsModel, $player->id_player) ?>%</td>

            <!-- OReb / DReb -->
            <td><button class="btn btn-success" name="OReb" value="1" onclick="registerStats(this)">+OReb</button></td>
            <td><button class="btn btn-success" name="DReb" value="1" onclick="registerStats(this)">+DReb</button></td>
            <td><?= $stat->getTotalRebounds($statsModel, $player->id_player) ?></td>

            <!-- TO / Fouls -->
            <td><button class="btn btn-warning" name="TO" value="1" onclick="registerStats(this)">+TO</button></td>
            <td><button class="btn btn-danger" name="Fouls" value="1" onclick="registerStats(this)">+Foul</button></td>
            <td>+/-</td>
        </tr>
    <?php } ?>
    <tr>
        <td>Total</td>
        <td>Time</td>
        <td><?= $total->getTotalPoints($id_match, $awayTeamId) ?></td>
        <td><?= $total->getTotalLFPoints($id_match, $awayTeamId) ?></td>
        <td><?= $total->getTotalLFPoints($id_match, $awayTeamId) . "/" . $total->getTotalLFAttempts($id_match, $awayTeamId) ?></td>
        <td><?= $total->getTotalLFPercentage($id_match, $awayTeamId) . "%" ?></td>
        <td><?= $total->getTotal2PT($id_match, $awayTeamId) ?></td>
        <td><?= $total->getTotal2PTMade($id_match, $awayTeamId) . "/" . $total->getTotal2PTAttempts($id_match, $awayTeamId) ?></td>
        <td><?= $total->getTotal2PTPercentage($id_match, $awayTeamId) . "%" ?></td>
        <td><?= $total->getTotal3PT($id_match, $awayTeamId) ?></td>
        <td><?= $total->getTotal3PTMade($id_match, $awayTeamId) . "/" . $total->getTotal3PTAttempts($id_match, $awayTeamId) ?></td>
        <td><?= $total->getTotal3PTPercentage($id_match, $awayTeamId) . "%" ?></td>
        <td><?= $total->getTotalOffReb($id_match, $awayTeamId) ?></td>
        <td><?= $total->getTotalDefReb($id_match, $awayTeamId) ?></td>
        <td><?= $total->getTotalReb($id_match, $awayTeamId) ?></td>
        <td><?= $total->getTotalTurnOver($id_match, $awayTeamId) ?></td>
        <td><?= $total->getTotalFouls($id_match, $awayTeamId) ?></td>
        <td><?= "+/-" ?></td>
    </tr>
    </tbody>
</table>

    <form action="" name="myForm" method="POST">
        <select name="idPlayer">
            {% for awayPlayer in away_players %}
            <option name=""
                    value="{{ awayPlayer.name }}"> {{ awayPlayer.name }}
            </option>
            {% endfor %}
        </select>
        <button name="addPlayerMatch" type="submit" class="btn btn-success"><i class="fa fa-plus"></i> Add
            Player
        </button>
        <?php } ?>
    </form>
    <?php } ?>
    <a href="../index.php" class="btn btn-secondary ml-2 pull-right">Home</a>
    <?php if ($match->awayScore === null) { ?>
    <?php if (isset($_SESSION['email'])) { ?>
    <form action="" method="POST" class="details-form">
        <label>Home Team - <?= $match->homeTeam ?></label>
        <input type="number" name="homeTeamScore" value="<?= $total->getTotalPoints($id_match, $homeTeamId) ?>">
        <label>Away Team - <?= $match->awayTeam ?></label>
        <input type="number" name="awayTeamScore" value="<?= $total->getTotalPoints($id_match, $awayTeamId) ?>">
        <button type="submit" onclick="return confirm('Are you sure you want to update the score?')" name="finalScore"
                class="btn btn-success"><i class="fa fa-plus"></i> Submit
            Score
        </button>
    </form>
    <?php } ?>
    <?php } ?>
</section>
</main>
<form id="statSenderForm" action="" method="POST">
    <input type="hidden" name="idPlayer" value="">
    <input type="hidden" name="idMatch" value="<?= $id_match ?>">
    <input type="hidden" name="statType" value="">
    <input type="hidden" name="statValue" value="">
    <input type="hidden" name="registerNewStat" value="true">
</form>

<script>
    <?php
    if (isset($_SESSION['email'])) {
            ?
    >

        function registerStats(button) {
            let form = document.getElementById("statSenderForm");

            // Find the player's row
            let row = button.closest("tr");

            // Get the player's ID
            let playerId = row.getAttribute("data-player-id");
            // Populate form fields

            form.elements["idPlayer"].value = playerId;
            form.elements["statType"].value = button.name;
            form.elements["statValue"].value = button.value;

            // Submit the form automatically
            form.submit();
        }

        <?php
    }
        ?
    >
</script>
{% endblock %}
