{% extends "base.html" %}
{% block title %} Match {% endblock %}
{% block content %}
<section class="players-section">
    <span id="minutes_">00</span>:
    <span id="seconds_">00</span>
    <button class="btn btn-success button-start" >Start</button>
    <button class="btn btn-danger button-stop" >Pause</button>
</section>
<section class="players-section">
    <h3>{{ match.home_team }}</h3>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Player</th>
            <th>Min</th>
            <th>PTS</th>
            <th>LF</th>
            <th>LF A</th>
            <th>%LF</th>
            <th>2PT</th>
            <th>2PT A</th>
            <th>2PT %</th>
            <th>3PT</th>
            <th>3PT A</th>
            <th>3PT %</th>
            <th>O Reb</th>
            <th>D Reb</th>
            <th>Rebs</th>
            <th>TO</th>
            <th>Fouls</th>
            <th>+</th>
        </tr>
        </thead>
        <tbody>
        {% for playersPlaying in players_playing %}
        <tr class="player-row" data-player-id="{{ playersPlaying.id_player }}">
            <td> {{ playersPlaying.name }}</td>
            <td>
                <span id="minutes_{{ playersPlaying.id_player }}">00</span>:
                <span id="seconds_{{ playersPlaying.id_player }}">00</span>
                <button class="btn btn-success button-start" data-player-id="{{ playersPlaying.id_player }}">In</button>
                <button class="btn btn-danger button-stop" data-player-id="{{ playersPlaying.id_player }}">Out</button>
            </td>
            <td>{{ Stats.get_player_points(playersPlaying.id_player, match.id_match)['total_points'] }}
            </td>

            <td>
                <button class="btn btn-success" name="LF" value="1" onclick="registerStats(this)">+1</button>
                <button class="btn btn-danger" name="LF_Miss" value="1" onclick="registerStats(this)">-1</button>
            </td>
            <td>{{ Stats.get_player_lf(playersPlaying.id_player, match.id_match)['total_LFMade'] }}
                / {{ Stats.get_player_total_lf(playersPlaying.id_player, match.id_match) }}
            </td>
            <td> {{ Stats.get_player_lf_percent(playersPlaying.id_player, match.id_match) }}%</td>

            <td>
                <button class="btn btn-success" name="2PT" value="2" onclick="registerStats(this)">+2PT</button>
                <button class="btn btn-danger" name="2PT_Miss" value="1" onclick="registerStats(this)">-2PT</button>
            </td>
            <td>{{ Stats.get_player_2pt_made(playersPlaying.id_player, match.id_match)['total_2pt_made'] }}/{{
                Stats.get_player_2pt_total(playersPlaying.id_player, match.id_match)}}
            </td>
            <td>{{ Stats.get_player_2pt_percent(playersPlaying.id_player, match.id_match) }}%</td>

            <td>
                <button class="btn btn-success" name="3PT" value="3" onclick="registerStats(this)">+3PT</button>
                <button class="btn btn-danger" name="3PT_Miss" value="1" onclick="registerStats(this)">-3PT</button>
            </td>
            <td>{{ Stats.get_player_3pt_made(playersPlaying.id_player, match.id_match)['total_3pt_made']}}/{{
                Stats.get_player_3pt_total(playersPlaying.id_player, match.id_match) }}
            </td>
            <td>{{ Stats.get_player_3pt_percent(playersPlaying.id_player, match.id_match) }}%</td>

            <td> {{ Stats.get_player_offensive_rebounds(playersPlaying.id_player, match.id_match)['total_offensive'] |
                default(0, true)
                }}
                <br>
                <button class="btn btn-success" name="OReb" value="1" onclick="registerStats(this)">+OReb</button>
            </td>
            <td> {{ Stats.get_player_defensive_rebounds(playersPlaying.id_player, match.id_match)['total_defensive'] |
                default(0, true)
                }}
                <br>
                <button class="btn btn-success" name="DReb" value="1" onclick="registerStats(this)">+DReb</button>
            </td>
            <td>{{ Stats.get_player_total_rebounds(playersPlaying.id_player, match.id_match)['total_rebs'] | default(0,
                true) }}
            </td>

            <td>{{ Stats.get_player_turnovers(playersPlaying.id_player, match.id_match)['turnovers'] | default(0, true)
                }}
                <br>
                <button class="btn btn-warning" name="TO" value="1" onclick="registerStats(this)">+TO</button>
            </td>
            <td>{{ Stats.get_player_fouls(playersPlaying.id_player, match.id_match)['fouls'] | default(0, true) }}
                <br>
                <button class="btn btn-danger" name="Fouls" value="1" onclick="registerStats(this)">+Foul</button>
            </td>
            <td>+/-</td>
        </tr>
        {% endfor %}
        <tr>
            <td>Total</td>
            <td>Time</td>
            <td>{{ Total.get_total_points(match.id_match , match.id_home_team) }}
            </td>
            <td>{{ Total.get_total_lf_points(match.id_match, match.id_home_team)[0]['total_points'] | default(0, true)
                }}
            </td>
            <td>{{ Total.get_total_lf_points(match.id_match, match.id_home_team)[0]['total_points'] | default(0, true)
                }}
                / {{ Total.get_total_lf(match.id_match, match.id_home_team) | default(0, true) }}
            </td>
            <td>{{ Total.get_total_lf_percent(match.id_match, match.id_home_team) }}%</td>
            <td>{{ Total.get_total_2pts(match.id_match, match.id_home_team)[0]['total_points'] }}</td>
            <td> {{ Total.get_total_2pts_made(match.id_match, match.id_home_team)[0]['total_points'] }} /
                {{ Total.get_total_2pt_attempts(match.id_match, match.id_home_team) }}
            </td>
            <td>{{ Total.get_total_2pt_percent(match.id_match, match.id_home_team) }} %</td>
            <td>{{ Total.get_total_3pt(match.id_match, match.id_home_team)[0]['total_points'] | default(0, true) }}</td>
            <td> {{ Total.get_total_3pts_made(match.id_match, match.id_home_team)[0]['total_points'] | default(0,true)
                }}
                / {{ Total.get_total_3pt_attempts(match.id_match, match.id_home_team) | default(0, true) }}
            </td>
            <td>{{ Total.get_total_3pt_percent(match.id_match, match.id_home_team) }}%</td>
            <td>{{ Total.get_total_offensive_rebounds(match.id_match, match.id_home_team)[0]['total_points'] }}</td>
            <td>{{ Total.get_total_defensive_rebounds(match.id_match, match.id_home_team)[0]['total_points'] }}</td>
            <td>{{ Total.get_total_rebounds(match.id_match, match.id_home_team) }}</td>
            <td>{{ Total.get_total_turnovers(match.id_match, match.id_home_team)[0]['turnovers'] }}</td>
            <td>{{ Total.get_total_fouls(match.id_match, match.id_home_team)[0]['fouls'] }}</td>
            <td><?= "+/-" ?></td>
        </tr>
        </tbody>
    </table>
    <form action="{{ url_for('add_player_home') }}" name="myForm" method="POST">
        <input type="hidden" name="id_match" value="{{ match.id_match }}">
        <select name="idPlayerHome">
            {% for homePlayer in home_players %}
            <option name=""
                    value="{{ homePlayer.id_player }}">{{ homePlayer.name }}
            </option>
            {% endfor %}
        </select>
        <button name="addPlayerMatch" type="submit" class="btn btn-success"><i class="fa fa-plus"></i> Add
            Player
        </button>
    </form>
    <br>
    <h3>{{ match.away_team }}</h3>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Player</th>
            <th>Min</th>
            <th>PTS</th>
            <th>LF</th>
            <th>LF A</th>
            <th>%LF</th>
            <th>2PT</th>
            <th>2PT A</th>
            <th>2PT %</th>
            <th>3PT</th>
            <th>3PT A</th>
            <th>3PT %</th>
            <th>O Reb</th>
            <th>D Reb</th>
            <th>Rebs</th>
            <th>TO</th>
            <th>Fouls</th>
            <th>+</th>
        </tr>
        </thead>
        <tbody>
        {% for playersPlayingAway in players_playing_away %}
        <tr data-player-id="{{ playersPlayingAway.id_player }}">
            <td> {{ playersPlayingAway.name }}</td>
            <td>
                <span id="minutes">00</span>:<span id="seconds">00</span>
                <button class="btn btn-success" id="button-start">In</button>
                <button class="btn btn-danger" id="button-stop">Out</button>
            </td>
            <td>{{ Stats.get_player_points(playersPlayingAway.id_player, match.id_match)['total_points'] }}
            </td>

            <td>
                <button class="btn btn-success" name="LF" value="1" onclick="registerStats(this)">+1</button>
                <button class="btn btn-danger" name="LF_Miss" value="1" onclick="registerStats(this)">-1</button>
            </td>
            <td>{{ Stats.get_player_lf(playersPlayingAway.id_player, match.id_match)['total_LFMade'] }}
                / {{ Stats.get_player_total_lf(playersPlayingAway.id_player, match.id_match) }}
            </td>
            <td> {{ Stats.get_player_lf_percent(playersPlayingAway.id_player, match.id_match) }}%</td>

            <td>
                <button class="btn btn-success" name="2PT" value="2" onclick="registerStats(this)">+2PT</button>
                <button class="btn btn-danger" name="2PT_Miss" value="1" onclick="registerStats(this)">-2PT</button>
            </td>
            <td>{{ Stats.get_player_2pt_made(playersPlayingAway.id_player, match.id_match)['total_2pt_made'] }}/{{
                Stats.get_player_2pt_total(playersPlayingAway.id_player, match.id_match)}}
            </td>
            <td>{{ Stats.get_player_2pt_percent(playersPlayingAway.id_player, match.id_match) }}%</td>

            <td>
                <button class="btn btn-success" name="3PT" value="3" onclick="registerStats(this)">+3PT</button>
                <button class="btn btn-danger" name="3PT_Miss" value="1" onclick="registerStats(this)">-3PT</button>
            </td>
            <td>{{ Stats.get_player_3pt_made(playersPlayingAway.id_player, match.id_match)['total_3pt_made']}}/{{
                Stats.get_player_3pt_total(playersPlayingAway.id_player, match.id_match) }}
            </td>
            <td>{{ Stats.get_player_3pt_percent(playersPlayingAway.id_player, match.id_match) }}%</td>

            <td> {{ Stats.get_player_offensive_rebounds(playersPlayingAway.id_player, match.id_match)['total_offensive']
                |
                default(0, true)
                }}
                <br>
                <button class="btn btn-success" name="OReb" value="1" onclick="registerStats(this)">+OReb</button>
            </td>
            <td> {{ Stats.get_player_defensive_rebounds(playersPlayingAway.id_player, match.id_match)['total_defensive']
                |
                default(0, true)
                }}
                <br>
                <button class="btn btn-success" name="DReb" value="1" onclick="registerStats(this)">+DReb</button>
            </td>
            <td>{{ Stats.get_player_total_rebounds(playersPlayingAway.id_player, match.id_match)['total_rebs'] |
                default(0,
                true) }}
            </td>

            <td>{{ Stats.get_player_turnovers(playersPlayingAway.id_player, match.id_match)['turnovers'] | default(0,
                true)
                }}
                <br>
                <button class="btn btn-warning" name="TO" value="1" onclick="registerStats(this)">+TO</button>
            </td>
            <td>{{ Stats.get_player_fouls(playersPlayingAway.id_player, match.id_match)['fouls'] | default(0, true) }}
                <br>
                <button class="btn btn-danger" name="Fouls" value="1" onclick="registerStats(this)">+Foul</button>
            </td>
            <td>+/-</td>
        </tr>
        {% endfor %}
        <tr>
            <td>Total</td>
            <td>Time</td>
            <td>{{ Total.get_total_points(match.id_match , match.id_away_team) }}
            </td>
            <td>{{ Total.get_total_lf_points(match.id_match, match.id_away_team)[0]['total_points'] | default(0, true)
                }}
            </td>
            <td>{{ Total.get_total_lf_points(match.id_match, match.id_away_team)[0]['total_points'] | default(0, true)
                }}
                / {{ Total.get_total_lf(match.id_match, match.id_away_team) | default(0, true) }}
            </td>
            <td>{{ Total.get_total_lf_percent(match.id_match, match.id_away_team) }}%</td>
            <td>{{ Total.get_total_2pts(match.id_match, match.id_away_team)[0]['total_points'] }}</td>
            <td> {{ Total.get_total_2pts_made(match.id_match, match.id_away_team)[0]['total_points'] }} /
                {{ Total.get_total_2pt_attempts(match.id_match, match.id_away_team) }}
            </td>
            <td>{{ Total.get_total_2pt_percent(match.id_match, match.id_away_team) }} %</td>
            <td>{{ Total.get_total_3pt(match.id_match, match.id_away_team)[0]['total_points'] | default(0, true) }}</td>
            <td> {{ Total.get_total_3pts_made(match.id_match, match.id_away_team)[0]['total_points'] | default(0,true)
                }}
                / {{ Total.get_total_3pt_attempts(match.id_match, match.id_away_team) | default(0, true) }}
            </td>
            <td>{{ Total.get_total_3pt_percent(match.id_match, match.id_away_team) }}%</td>
            <td>{{ Total.get_total_offensive_rebounds(match.id_match, match.id_away_team)[0]['total_points'] }}</td>
            <td>{{ Total.get_total_defensive_rebounds(match.id_match, match.id_away_team)[0]['total_points'] }}</td>
            <td>{{ Total.get_total_rebounds(match.id_match, match.id_away_team) }}</td>
            <td>{{ Total.get_total_turnovers(match.id_match, match.id_away_team)[0]['turnovers'] }}</td>
            <td>{{ Total.get_total_fouls(match.id_match, match.id_away_team)[0]['fouls'] }}</td>
            <td><?= "+/-" ?></td>
        </tr>
        </tbody>
    </table>
    <form action="{{ url_for('add_player_away') }}" name="myForm" method="POST">
        <input type="hidden" name="id_match" value="{{ match.id_match }}">
        <select name="idPlayerAway">
            {% for awayPlayer in away_players %}
            <option name=""
                    value="{{ awayPlayer.id_player }}"> {{ awayPlayer.name }}
            </option>
            {% endfor %}
        </select>
        <button name="addPlayerMatchAway" type="submit" class="btn btn-success"><i class="fa fa-plus"></i> Add
            Player
        </button>
    </form>
    <a href="/" class="btn btn-secondary ml-2 pull-right">Home</a>

    <form action="{{ url_for('submit_score') }}" method="POST" class="details-form">
        <input type="hidden" name="idMatch" value="{{ match.id_match }}">
        <label>Home Team - {{ match.home_team }}</label>
        <input type="hidden" name="id_home_team" value="{{ match.id_home_team }}">
        <input type="hidden" name="id_away_team" value="{{ match.id_away_team }}">
        <input type="number" name="homeTeamScore"
               value="{{ Total.get_total_points(match.id_match, match.id_home_team) }}">
        <label>Away Team - {{ match.away_team }}</label>
        <input type="number" name="awayTeamScore"
               value="{{ Total.get_total_points(match.id_match, match.id_away_team) }}">
        <button type="submit" onclick="return confirm('Are you sure you want to update the score?')" name="finalScore"
                class="btn btn-success"><i class="fa fa-plus"></i> Submit
            Score
        </button>
    </form>
</section>
<form id="statSenderForm" action="{{ url_for('register_stat') }}" method="POST">
    <input type="hidden" name="idPlayer" value="">
    <input type="hidden" name="idMatch" value="{{ match.id_match }}">
    <input type="hidden" name="statType" value="">
    <input type="hidden" name="statValue" value="">
    <input type="hidden" name="registerNewStat" value="true">
</form>

<script>
    function registerStats(button) {
        let form = document.getElementById("statSenderForm");

        // Find the player's row
        let row = button.closest("tr");

        // Get the player's ID
        let playerId = row.getAttribute("data-player-id");
        // Populate form fields

        form.elements["idPlayer"].value = playerId;
        form.elements["statType"].value = button.name;
        form.elements["statValue"].value = button.value;

        form.submit();
    }

</script>
{% endblock %}
