{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}
{% block title %} Login {% endblock %}
{% block content %}
    <section class="details">
        <div class="last-played">
            <h2>Login</h2>
            {{ render_form(form, extra_classes="forms") }}
            <br>
            <a href="/" class="btn btn-secondary ml-0">Cancel</a>
            <a href="{{ url_for('user.register') }}">Don't have an account? Register</a>
        </div>
    </section>
{% endblock %}
