{% extends "base.html" %}
{% block title %} New Team {% endblock %}
{% block content %}
    {% if session.username %}
        <section class="details">
            <div class="last-played">
                <br>
                <h2>Create Team</h2>
                <p>Fill the form and submit to create a new team.</p>
                {{ render_form(form, extra_classes="forms") }}
                <br>
                <a href="/" class="btn btn-secondary col-lg">Cancel</a>
            </div>
        </section>
    {% else %}
        <section class="details">
            <div class="last-played">
                <br>
                <h2>You must be Logged in, to be able to Create a new Team</h2>
            </div>
        </section>
    {% endif %}
    <br>
{% endblock %}