{% extends 'base.html' %}
{% block title %} Team {% endblock %}
{% block content %}
    <section class="players-section">
        <div class="container">
            <div class="row">
                <div class="col-lg">
                    <div class="text-lg-left">
                        <!-- if team.picture -->
                        {% if team.team_logo %}
                            <img src="data:image/jpeg;base64,{{ team.team_logo | b64encode }}"
                                 alt="{{ team.team_name }}'s image" style="max-width: 500px; max-height:500px">
                            <!-- else -->
                        {% else %}
                            <p>No image available</p>
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg">
                    <h2>Details</h2>
                    <br>
                    <h4><strong>Team</strong></h4>
                    <p>{{ team.team_name }}</p>
                    <h4><strong>Address</strong></h4>
                    <p>{{ team.address }}</p>
                    <h4><strong>City</strong></h4>
                    <p>{{ team.city }}</p>
                    <h4><strong>Coach</strong></h4>
                    <p> {{ coach.name }}</p>
                    <h4><strong>Status</strong></h4>
                    {% if team.is_deleted == 0 %}
                        <p><strong>Active</strong></p>
                    {% else %}
                        <p><strong>Inactive</strong></p>
                    {% endif %}
                    <p>Added is active 0 = yes no = 1</p>
                    <a href="{{ url_for('team.view_team', id_team=id_team) }}"
                       class="btn btn-outline-success">Players</a>
                </div>
            </div>
            {% if session.username %}
                <a href="{{ url_for('team.register_team',id_player=id_player, id_team=team.id_team) }}"
                   class="btn btn-warning ml-2 pull-right">Update</a>
            {% endif %}
            <a href="{{ url_for('team.view_teams') }}" class="btn btn-secondary ml-2 pull-right"
               style="margin-right: 10px">Cancel</a>
        </div>
    </section>
{% endblock %}