<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <link rel="stylesheet" href="../static/font-awesome-4.7.0/css/font-awesome.min.css">
    {% endblock %}
</head>
<body>
<header>
    {% block header %}
    <h1>BasketStats Tracker</h1>
    {% if session.username %}
    <h4>Welcome {{ session.username }}</h4>
    <form action="{{ url_for('user.logout') }}" method="POST">
        <button type="submit" class="btn btn-danger">Logout</button>
    </form>
    {% else %}
    <a href="{{ url_for('user.login') }}" class="btn btn-success">Login</a>
    <a href="{{ url_for('user.register') }}" class="btn btn-info">Signup</a>
    {% endif %}
    {% endblock %}
</header>
<br>
{% block content %}{% endblock %}
{% block error %} {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% endblock %}

</body>
</html>